@model Newton.CJU.Models.Pergunta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pergunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assunto.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assunto.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duvida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duvida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
