@using Newton.CJU.Models
@model LoginViewModel
@{
    ViewBag.Title = "Autenticação";
}

@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Login", "Autenticacao", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    @Html.AntiForgeryToken()
    <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


       //Email
      <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label"})
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new {@class= "form-control", @placeholder = "Digite seu e-mail"})
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
           

        //Senha
        <div class="form-group">
            @Html.LabelFor(m => m.Senha, new { @class = "col-md-4 control-label" })
            <div class="col-md-4 ">
                @Html.PasswordFor(m => m.Senha, new { @class = "form-control", @placeholder = "Digite sua senha" })
                @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
            </div>
        </div>

        //Botões Entrar e Limpar
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">                
                <button type="submit"  class="btn btn-primary">Entrar</button>
                <button type="reset"  class="btn btn-primary">Limpar</button>
            </div>
        </div>
        <p>
            <div class="col-md-offset-5 col-md-10">
                @Html.ActionLink("Não sou cadastrado", "Register")
            </div>
        </p>
        }
        </section>
    </div>
    </div>
