@model Newton.CJU.Models.RegisterViewModel
@{
    ViewBag.Title = "Realize seu cadastro";
}

@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Autenticacao", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    //Nome
    <div class="form-group">
        @Html.LabelFor(m => m.Nome, new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @placeholder = "Digite seu nome" })
        </div>
    </div>

    //Email
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Digite seu e-mail" })
        </div>
    </div>

    //Senha
    <div class="form-group">
        @Html.LabelFor(m => m.Senha, new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Senha, new { @class = "form-control", @placeholder = "Digite sua senha" })
        </div>
    </div>

    //Confirmar Senha
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmarSenha, new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmarSenha, new { @class = "form-control", @placeholder = "Digite novamente sua senha" })
        </div>
    </div>

    //Botão Registrar
    <div class="form-group">
        <div class="col-md-offset-5 col-md-10">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </div>
}