@model Newton.CJU.Models.Solicitacao

@{
    ViewBag.Title = "Solicitações";
}

<h2>Detalhes da Solicitação</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nº Solicitação")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayName("Data de Cadastro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayName("Fato Jurídico")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatoJuridico)
        </dd>

        <dt>
            @Html.DisplayName("Situação")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Dúvida")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duvida)
        </dd>

        <dt>
            @Html.DisplayName("Parecer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parecer)
        </dd>

    </dl>
</div>
<p>
    <!-- @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) -->
        @Html.ActionLink("Voltar", "Index")
</p>
