@model Newton.CJU.Models.Solicitacao

@{
    ViewBag.Title = "Solicitações";
}

<h2>Detalhes da Solicitação</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Nº Solicitação")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayName("Data de Cadastro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayName("Situacão")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao.Nome)
        </dd>

        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole("Professor"))
            {
                <dt>
                    @Html.DisplayName("Monitor")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.Nome)
                </dd>

                <dt>
                    @Html.DisplayName("Atividade Semestral")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AtividadeSemestral.Semestre), @Html.DisplayFor(model => model.AtividadeSemestral.Ano), @Html.DisplayFor(model => model.AtividadeSemestral.AreaConhecimento.Nome)
                </dd>

            }
        }

        <dt>
            @Html.DisplayName("Fato Jurídico")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatoJuridico)
        </dd>

        <dt>
            @Html.DisplayName("Dúvida")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duvida)
        </dd>

    @if (Request.IsAuthenticated)
    {
        if ((User.IsInRole("Professor")) || (User.IsInRole("Monitor")))
        {

            <dt>
                @Html.DisplayName("Fundamentação")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fundamentacao)
            </dd>

            <dt>
                @Html.DisplayName("Correção")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Correcao)
            </dd>

        }
    }

        <dt>
            @Html.DisplayName("Parecer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parecer)
        </dd>

    </dl>
 
</div>
<p>
@if (Request.IsAuthenticated)
{
    if ((User.IsInRole("Professor")) || (User.IsInRole("Monitor")))
    {
         @Html.ActionLink("Editar", "Edit", new { id = Model.Id })
         @Html.DisplayName(" | ")
    }

}
    @Html.ActionLink("Voltar", "Index")
</p>
