@model PagedList.PagedList <Newton.CJU.Models.Solicitacao>
    @using PagedList
    @using PagedList.Mvc
   

@{
    ViewBag.Title = "Solicitações";
}

<style>
    .cor-linha{
        background-color: #FFFF00;
    }
</style>

<h2>Acompanhamento Solicitação</h2>
<br>
@using (Html.BeginForm("Index", "Solicitacaos"))
{
    if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Professor"))
        {
    <div class="row">
     <div class="col-md-2">

            <p>Data Inicial:</p>
            <input type="text" class="form-control" name="datainicial" id="datainicial" placeholder="Selecione data inicial..." />
        </div>
        <div class="col-md-2">
            <p>Data Final:</p>
            <input type="text" class="form-control" name="datafinal" id="datafinal" placeholder="Selecione data final..." />
        </div>

        <div class="col-md-2">
                <br>
                <p></p>
                <div>
                    <button type="submit" value ="pesquisa" class="btn btn-primary">Filtrar</button>
                </div>
 
        </div>

        <div class="col-md-3">
        
        </div>
       <div class="col-md-3">
            Situacao:
            @Html.DropDownList("IdSituacao", new SelectList("Id", "Nome"), " - ", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
        }
    }

}

<br>
<div>
    <p>
       @Html.ActionLink("Nova Solicitação", "Create")
    </p>
</div>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayName("Nº Solicitação")
        </th>

        <th>
            @Html.DisplayName("Data de Cadastro")
        </th>

        <th>
            @Html.DisplayName("Fato Juridico")
        </th>
        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole("Professor"))
            {
                <th>
                    @Html.DisplayName("Monitor")
                </th>
            }
        }

        <th>
            @Html.DisplayName("Situação")
        </th>

       
        <th></th>
    </tr>
@foreach (var item in Model)
{
    <tr @(DateTime.Now.Subtract(item.DataCadastro).Days > 7 ? "class=cor-linha" : String.Empty)>

        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FatoJuridico)
        </td>

        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole("Professor"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
            }
        }
        <td>
            @Html.DisplayFor(modelItem => item.Situacao.Nome)
        </td>
        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole("Professor"))
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.Id })
                    @Html.DisplayName(" | ")
                    @Html.ActionLink("Visualizar", "Details", new { id = item.Id })
                    @Html.DisplayName(" | ")
                    @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
                </td>
            }
            if (User.IsInRole("Monitor"))
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    @Html.DisplayName(" | ")
                    @Html.ActionLink("Visualizar", "Details", new { id = item.Id })
                   
                </td>
            }
            if (User.IsInRole("Cliente"))
            {

                <td>
                    @Html.ActionLink("Visualizar", "Details", new { id = item.Id })
                </td>
            }
        }

    </tr>
}

</table>

<div class="col-md-12">
    <div class="text-center">
        Página @Model.PageNumber de @Model.PageCount
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page}))
    </div>
</div>