@model Newton.CJU.Models.FatoCotidiano

@{
    ViewBag.Title = "Detalhes";
}

<h2>Fato Cotidiano</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Área Conhecimento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaConhecimento.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Voltar", "Index")
</p>